 body{
       padding: 0px;
       margin: 0px;
       background: none repeat scroll 0 0 #fff;
       font-family: "nyt-franklin",arial,helvetica,sans-serif;
   }
   
   a:link {
    text-decoration: none;
    color: black;
}

#shoppingcartdiv{
    float:right;
    margin-right: 25px;
}
/*
.addtocartbutton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.addtocartbutton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.addtocartbutton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }   
   .removefromcartbutton {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.removefromcartbutton:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.removefromcartbutton:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }
   
      .addtocartbuttonnormal {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.addtocartbuttonnormal:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
.addtocartbuttonnormal:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }*/
   
   button{
   //     border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f3f3f3));
   background: -webkit-linear-gradient(top, #f2f2f2, #f3f3f3);
   background: -moz-linear-gradient(top, #f2f2f2, #f3f3f3);
   background: -ms-linear-gradient(top, #f2f2f2, #f3f3f3);
   background: -o-linear-gradient(top, #f2f2f2, #f3f3f3);
/*   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   /*color: white;*/
   font-size: 14px;
   border-radius: 8px;
   /*font-family: Georgia, serif;*/
   /*text-decoration: none;*/
   vertical-align: middle;
   }
   button:hover
   {
       border-top-color: #f2f2f2;
   background: #f2f2f2;
   /*color: #ccc;*/
   }
   button:active
   {
       border-top-color: #1b435e;
   background: #1b435e;
   }
   #headerdiv
   {
/*       background: url(../images/header-darkblue1.jpg);
       width: 100%;
       height: 100px;
       background-repeat: repeat;*/
background: #f2f2f2;
border-top: 1px solid #e4e4e4;
color: #333; 
//line-height: 40px;
       width: 100%;
       height: 100px;
      
   }
   
      #footerdiv
   {
/*       background: url(../images/header-darkblue1.jpg);
       width: 100%;
       height: 50px;
       background-repeat: repeat;
       bottom: 0;
       position: static;*/

background: #f2f2f2;
border-top: 1px solid #e4e4e4;
line-height: 40px;
color: #333; 
       
   }
   
  
   
   #body
   {
       position: relative;
       height: 470px;
       width: 80%;
       overflow: hidden;
   }
   
   #headertable
   {
       //color: #fff
       
   }
   
   #paymentdiv
   {
       display: none;
   }
#searchbardiv
{
    padding: 10px;
    text-align: center;
    
   
}

#sortbar
{
    display: inline;
}
/*.ui-menu-item
{
    
    margin-left: -40px;
    list-style-type: none;
    padding: 1px;
}*/

.topicbox
{
    width: 100px;
    height: 100px;
    float:left;
    padding: 60px;
    text-align: center;
    
}


#topiclist
{
    display: none;
}

#listoftopicsdiv
{
   margin-left: 25px;
}

#headeroptionsmain
{
    margin-top: 7px;
    padding: 10px;
}
.headeroptions
{
    
    padding: 10px;
    
}

.headeroptions:hover
{
    //background-color: #65a9d7;
    font-weight: bold;
    
    
    
}

.sortbar > input
{
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
/*   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   color: white;
    border-radius: 80px;
    
}

#searchbardiv > input
{
   
/*   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;*/
   border-radius: 80px;
    
}
li
{
    padding: 10px;
}
li > a:link
{
    
    text-decoration: underline;
}

